<h3>Listing palettes for <%#= current_user.name %> </h3>

<table class="projects-table">
  <tr>
    <th>Palette Name</th>
    <th>Product Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
<% @palettes.each do |palette| %>
  <tr>
    <td><%= palette.name %></td>
    <td><%= palette.project.product_category.name %></td>

    <td><%= link_to 'Show', palette %></td>
    <td><%= link_to 'Edit', edit_palette_path(palette) %></td>
    <td><%= link_to 'Remove', palette, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'New Palette', new_palette_path %>




<style>
.projects-table tr td{
    padding: 15px;
}
</style>