<p id="notice"><%= notice %></p>


<h3> <%= @palette.name %> </h3>
<%= link_to 'Alt View', alt_show_palette_path, params: {alt: true} %>

 </br>
<%= link_to 'Edit Palette', edit_palette_path(@palette) %> |
<%= link_to 'Back', palettes_path %>

</br> </br>
</br> </br>


<% @attribute_layers.each do |attribute_layer| %>

<h4 style="display: inline;"><%= attribute_layer.name %></h4>
<%= link_to 'Edit Layer', edit_attribute_layer_path(attribute_layer) %>

</br> </br>

<!-- <%= link_to 'Show', attribute_layer_path %> -->
<table class="table table-bordered table-striped table-hover" id="projects-index" style="width: 1000px;">
  <tr>
    <th>Attribute Name</th>
    <th>Attr img</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% attribute_layer.attributes.each do |attribute| %>
  <tr>
    <td><%= attribute.name %></td>
    <td><%= image_tag attribute.attr_img.url(:thumb) %></td>
    <!-- <td><%= link_to 'Show', attribute %></td> -->
    <td><%= link_to 'Edit', edit_attribute_path(attribute) %></td>
    <td><%= link_to 'Destroy', attribute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<% end %>
