<h1>Listing attributes</h1>

<table>
  <tr>
    <th>Attribute Name</th>
    <th>Attr img</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attributes.each do |attribute| %>
  <tr>
    <td><%= attribute.name %></td>
    <td><%= image_tag attribute.attr_img.url(:thumb) %></td>
    <td><%= link_to 'Show', attribute %></td>
    <td><%= link_to 'Edit', edit_attribute_path(attribute) %></td>
    <td><%= link_to 'Destroy', attribute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attribute', new_attribute_path %>