<%= simple_form_for(@attribute_layer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
	  <%= f.input :name, label: "Attribute Layer Name" %>
  </div>

  <%= f.simple_fields_for :palette_attributes do |builder| %>
    <%= render 'palette_attribute_fields', :f => builder %>
  <% end %>
<div><%= link_to_add_fields "Add Attribute", f, :palette_attributes %></div>


  <div class="form-actions">
    <%= f.button :submit, "Add" %>
  </div>
<% end %>
