<%= simple_form_for(@attribute_layer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
	  <%= f.input :name %>
  </div>

  <%= f.simple_fields_for :attribute do |builder| %>
    <%= render 'attribute_fields', :f => builder %>
  <% end %>


  <div class="form-actions">
    <%= f.button :submit, "Add" %>
  </div>
<% end %>
