<h3>Listing Attribute Layers</h3>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @attribute_layers.each do |attribute_layer| %>
    <tr>
      <td><%= attribute_layer.name %></td>
      <td><%= link_to 'Show', attribute_layer %></td>
      <td><%= link_to 'Edit', edit_attribute_layer_path(attribute_layer) %></td>
      <td><%= link_to 'Destroy', attribute_layer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Attribute layer', new_attribute_layer_path %>
