<!DOCTYPE html>
<html>
<head>
  <title>Artisania</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar">
	  <div class="navbar-inner">
		  <%= link_to 'Artisnia', root_path, class: 'brand' %>
	    <ul class="nav">
			<%# if current_user.artisan? %>
			<li><%= link_to 'New Project', new_project_path %></li>
			<li><%= link_to 'New Category', new_product_category_path %></li>
			<li><%= link_to 'Show Catalog', products_by_artisan_projects_path(user_id: current_user.id) %></li>
			<%# else %>
			<%# end %>
	    </ul>
	  </div>
	</div>
    <div class="row" id="main-container">
        <div class="row span2" id="left-container"></div>
        <div class="row span8" id="right-container"><%= yield %></div>
    </div>
</body>
</html>


<style>
#right-container {
    
}

#left-container {

}    
</style>